* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  display: flex;
  color: white;
  height: 100vh;
}

/* Contact form */
input {
  width: 16rem;
  all: unset;
  background-color: white;
  color: black;
  height: 1.5rem;
  border: solid 1px rgb(128, 125, 125);
  padding: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-form {
  margin: auto;
}

.contact-form h1 {
  margin-bottom: 2rem;
}

.email-form-error,
span {
  color: red;
  margin-top: 0.3rem;
}

.title-form {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.first-last-name {
  display: flex;
  gap: 1.5rem;
}

.first-last-name input {
  width: 6rem;
}

.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.message {
  resize: none;
  background-color: white;
  color: black;
  padding: 3px;
  border: solid 1px rgb(128, 125, 125);

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.submit {
  display: flex;
  margin: 1rem auto;
  width: 9rem;
  justify-content: center;
}

.form-email-error,
.form-phone-error,
.form-fname-error,
.form-lname-error {
  display: none;
  color: red;
  margin-top: 0.5rem;
}

.form-succes {
  color: rgb(8, 241, 8);
  margin-top: 1rem;
  display: none;
}

/* Log in / Sign un  */

.log-in {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.signIn-signOut {
  display: flex;
  flex-direction: column;
}

.signIn-signOut img {
  position: absolute;
  width: 1.5rem;
}

.name-img {
  right: 3px;
  top: 1.15rem;
}

.mail-img {
  right: 3px;
  top: 5.1rem;
}

.pass-img {
  right: 3px;
  top: 10rem;
}

.pass-error-img {
  right: 3px;
  top: 15rem;
}

.signIn-signOut input {
  margin: 1rem 0;
}

.forgot-pass a {
  color: black;
  text-decoration: none;
}

.txt {
  color: red;
  /* display: none; */
}

.sign-in-text {
  width: 15rem;
  text-align: center;
  margin-top: 2rem;
  color: red;
}

.submit-btns {
  margin-top: 2rem;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 7rem;
  margin-bottom: 1rem;
  height: 1.4rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 7rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 1.4rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-with {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-with button img {
  width: 2rem;
}

.login-with button {
  width: 11rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.email-error,
.password-error-match,
.sign-in-text,
.password-error-length,
.password-error-uppercase,
.password-valid,
.name-error {
  display: none;
}

.password-valid {
  display: none;
}

.sign-up-succes {
  color: rgb(8, 241, 8);
  display: none;
}

.name {
  display: none;
}

.password-confirm {
  display: none;
}

/* Switch button to form*/

.switch-button-login {
  margin-bottom: 2 rem;
}

.switch-button-login button {
  width: 7rem;
  height: 1.5rem;
  cursor: pointer;
}

/* Switch button to login*/
